<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('#');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%= name %></h2>
    <span><%= difficulty %></span>
  </div>
  <a class="card-link" href="#" ></a>
</div>




