<footer class="footer">
    <div class="footer-container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>2018 © None of the rights reserved</p>
      <p>Want to join us? <a href="../../">Visit the homepage</a> or read our <a href="#">founder history</a>.</p>
    </div>
</footer>
