
<% ten_minus_num = 10 - num %>

<div class="icons">
  <p <% num.times { %> <i class="fas fa-lemon"></i> <% } %> </p>
  <p <% ten_minus_num.times { %> <i class="far fa-lemon"></i> <% } %> </p>
</div>










