<div class="col-xs-12 col-sm-4">
  <div class="message-section">
    <div class="text-section">
        <p class="message-section-title"><%= message %></p>
    </div>
    <div class="button-section">
        <a href="#" class="btn btn-primary"><%= action %></a>
    </div>
  </div>
</div>
